{% extends "base.html" %}

{% block title %}
  Orders
{% endblock title %}

{% block content %}
  <div class="container">
    <h1>Orders</h1>

    <div class="inline-elements">
      <button class="default-button" onclick="window.location.href='/order/'">
        Add an order
      </button>
      <button class="default-button" onclick="window.location.href='/meal/'">
        Add a dish
      </button>
      <button class="default-button" onclick="window.location.href='/revenue/'">
        Revenue
      </button>

      <form action="{% url 'order:order_list' %}"
            method="post"
            class="inline-elements">
        {% csrf_token %}
        {{ form }}
        <button class="default-button" type="submit">Find</button>
      </form>

    </div>

    <table>
      <tr>
        <th>Order ID</th>
        <th>Table number</th>
        <th>Meals list</th>
        <th>Total price</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      {% for order in orders %}
        <tr>
          <td>{{ order.pk }}</td>
          <td>{{ order.table_number }}</td>
          <td>
            <ol>
              {% for item in order.items.all %}<li>{{ item.name }}</li>{% endfor %}
            </ol>
          </td>
          <td>{{ order.total_price }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>
            <button type="button"
                    class="default-button"
                    onclick="window.location.href='/change-status/{{ order.pk }}/'">
              Change the status
            </button>
            <button class="delete-button"
                    onclick="window.location.href='/order/{{ order.pk }}/delete'">
              Delete
            </button>
          </td>
        </tr>
      {% empty %}
        <td colspan="6">No orders.</td>
      {% endfor %}

    </table>
  </div>
{% endblock content %}
