{% extends "base.html" %}
{% block title %}
  Delete the order
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>Delete the order</h1>
    <form method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      {{ form.as_p }}
      <input type="submit" class="delete-button" value="Confirm">
      <button type="button"
              class="default-button"
              onclick="window.location.href='/'">Cancel</button>
    </form>
  </div>
{% endblock content %}
